<div class="p-10">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="mb-4 space-x-4">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="border border-gray-300" required formControlName="name">
            <div class="text-red-500" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']">Name is required</div>
            <div class="text-red-500" *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['minlength']">Name must be at least {{contactForm.get('name')?.errors?.['minlength']?.requiredLength}} characters</div>
            <!-- <div class="text-red-500 text-sm" [hidden]="name.valid || name.untouched">Name is required</div> -->
        </div>
        <div class="mb-4 space-x-4">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="border border-gray-300" formControlName="email">
            <div class="text-red-500" *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.invalid">Email is required</div>
            <div class="text-red-500" *ngIf="contactForm.get('email')?.invalid && contactForm.get('email')?.touched">Email is invalid</div>
        </div>
        <div class="mb-4">
            <label for="message" class="block pb-2">Message</label>
            <textarea name="message" id="message" cols="30" rows="10" class="border border-gray-300" formControlName="message"></textarea>
        </div>
        <div>
            <button type="submit" [disabled]="contactForm.invalid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg disabled:bg-gray-300">Send</button>
        </div>
    </form>
</div>
