<div class="md:mt-4 p-4">
    <div class="flex justify-between items-center mb-6">
        <h2 class="text-2xl">Products</h2>
        <div class="flex items-center gap-4">
            <a routerLink="/products" [queryParams]="{page:currentPage - 1}" *ngIf="currentPage > 1" class="p-3"><-</a>
            <p>Page {{currentPage}} of {{totalPages}}</p>
            <a routerLink="/products" [queryParams]="{page:currentPage + 1}" *ngIf="currentPage < totalPages" class="p-3">-></a>
        </div>

        <a routerLink="/products/new" class="border-2 border-blue-500 hover:bg-blue-300 px-3 md:py-1 md:px-4 rounded-full"><span class="hidden md:inline">Add new product</span> +</a>
    </div>

    <ul class="divide-y-2">
        <li *ngFor="let product of products">
            <a routerLink="/products/{{product.id}}">
                <div class="flex justify-between p-3 hover:bg-gray-200 rounded-md group/item">
                    <p>{{product.id}} <span class="ml-4">{{product.name}}</span></p>
                    <p>{{product.price}} €</p>
                </div>
            </a>
        </li>
    </ul>
</div>