<div class="p-10">
    <form action="" #signinForm="ngForm" (ngSubmit)="onSubmit(signinForm)">
        <div class="mb-4 space-x-4">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="border border-gray-300" required ngModel #email="ngModel">
            <!-- <div class="text-red-500 text-sm" [hidden]="email.valid || email.untouched">Email is required</div> -->
            <div class="text-red-500" *ngIf="email.invalid && email.touched">Email is required</div>

        </div>
        <div class="mb-4 space-x-4">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="border border-gray-300" ngModel>
        </div>
        <div>
            <button type="submit" [disabled]="signinForm.invalid" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg disabled:bg-gray-300">Send</button>
        </div>
    </form>
</div>
